<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>JSPServeletBegin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	  	<servlet-name>01_getMethod</servlet-name>
  	  	<servlet-class>chap02.GetMethod_01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>01_getMethod</servlet-name>
  	<url-pattern>/01_getMethod.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	  	<servlet-name>02_postMethod</servlet-name>
  	  	<servlet-class>chap02.postMethod_02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>02_postMethod</servlet-name>
  	<url-pattern>/02_postMethod.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	  	<servlet-name>03_get_post_Method</servlet-name>
  	  	<servlet-class>chap02.Get_Post_Method_03</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>03_get_post_Method</servlet-name>
  	<url-pattern>/03_get_post_Method.do</url-pattern>
  </servlet-mapping>
  
  
	<servlet>	
  	  	<servlet-name>04_get_post_Method</servlet-name>
  	  	<servlet-class>chap02.Get_Post_Method_04</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>04_get_post_Method</servlet-name>
	  	<url-pattern>/04_get_post_Method.do</url-pattern>
  	</servlet-mapping>
  	
  	
  <servlet>	
  	  	<servlet-name>05_get_post_Method</servlet-name>
  	  	<servlet-class>chap02.Get_Post_Method_05</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>05_get_post_Method</servlet-name>
	  	<url-pattern>/05_get_post_Method.do</url-pattern>
  	</servlet-mapping>
  	

  
</web-app>
