@charset "UTF-8";


div#container {
   border: solid 1px red;
   
   width: 90%;
   margin: 2% auto;
}

div#container > h1 {
   border: solid 0px blue;
   
   text-align: center;
   padding-bottom: 3%;
}

div#container img{
    width: 300px;
    height: 200px;
}

div#container div.title{
    border: solid 0px orange;

    text-align: center;
    font-size: 16pt;
    margin-bottom: 30px;
}

div#container > div#first_div{
    border: solid 0px blue;

    display: flex;
    height: 250px;
}

div#container > div#first_div > div {
    border: solid 0px green;
}

div#container > div#first_div > div:nth-child(2) {
    border: solid 0px orange;
    margin: 0 auto;
}

div#container > div#second_div{
    border: solid 0px gray;
    width: 80%;
    margin: 0 auto;
}
div#container > div#second_div > div{
        display: flex;
        padding: 5% 0;
}

div#container > div#second_div > div > div:nth-child(2) {
    margin: 0 auto;
}

div#container > div#third_div{
    border: solid 0px blue;

    display: flex;
    height: 350px;
    background-color: #eee;
}

div#container > div#third_div > div{
    border: solid 0px green;
    margin: auto;
}