@charset "UTF-8";


div#container {
    border: solid 0px red;
    width: 80%;
    margin: 2% auto;
}

div#container > div#video_div_2 {
    display: flex;
    justify-content: space-around; 
    align-items: center;          
    padding: 30px 0;               
}


div#container > div#video_div_2 > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0px green;
}

video {
    width: 250px;
    height: 300px;
}


div#container > div#video_div_1{ 
    display: flex; 
    height: 300px; 
    border: solid 0px red;
} 
div#container > div#video_div_1 > div{ 
    border: solid 0px green; margin: auto; 
}