@charset "UTF-8";

div#container{
    border: solid 0px red;
    width: 80%;
    margin: 3% auto 5% auto;
    padding: 2%;
}

div#container > form{
    width: 60%;
    margin: 0 auto;
}

div#container > form > fieldset > legend{
    font-size: 20pt;
    background-color: navy;
    color: white;
    padding: 0.5% 1%;
    margin: 0 3%;
}

div#container > form > fieldset > ul{
    list-style: none;
    padding: 0 0 0 2.4%;
}

div#container > form > fieldset > ul > li{
    border: solid 0px blue;
    line-height: 40px;
}

div#container > form > fieldset > ul > li > label.title{
    display: inline-block;
    width: 20%; 
    font-weight: bold;
    font-size: 12pt;
    color: navy;
    /* inline은 width , height 가 적용이 안되기에 display를 inline-block으로 변경  */
    border: solid 0px green;
}

label[for="female"]{
    /* corol: red; */
    margin-left: 5.5%;
}
/*
label.hobby{
    border: solid 0px red;
    margin-left: 5%;
}
또는
*/
input[type="checkbox"]{
    margin-right: 5.5%;
}

select {
    width: 25%;
}

div#container > form > fieldset > ul > li:nth-child(8) > select,
div#container > form > fieldset > ul > li:nth-child(10) > select{
    height: 30px;
}

select option{
    font-size: 12pt;
}

select > option{
    color: blue;
}


input.myinput{
    height: 17pt;
}


div#container > form > fieldset > ul > li:last-child >input{
    width: 15%;
    height: 45px;
    font-size: 16pt;
    margin: 5% 3% 0 0;
    padding: 0.5% 0.5% 1.5% 0.5%;
    color: white;
    border: none;
}
/* 
div#container > form > fieldset > ul > li:last-child > input:first-child{
    background-color: red;

} 
또는
div#container > form > fieldset > ul > li:last-child > input[type="submit"]{
    background-color: orange;
}
또는
*/


label.toptitle{
    position: relative;
    top: -55px;
}


input[type="submit"]{
    background-color: navy;
}

input[type="reset"]{
    background-color: red;
}