@charset "UTF-8";

body{
    /* background-color: red; */
    /* font-family: 궁서, 돋움, 굴림; */
    /* 궁서가 있으면 궁서를 쓰고, 없으면 돋움, 없으면 굴림으로. */
    font-family: Arial, Helvetica, sans-serif;
    border: solid 0px gray;
    word-break: break-all;
    /* 공백없이 영어로만 되어진경우 해당 구역을 빠져나가므로, 이것을 막기위해 사용 */

    /* == 여백 설정*/
    /* == margin은 바깥 여백 이다. */
    /* margin: 100px 100px 50px 20px; */ /* 상 우 하 좌  시계방향 */
    /* margin: 100px 50px; */ /* 상 하는 바깥여백을 100px; 을 주고, 우 좌는 바깥여백을 50px; 을 준 것이다.*/
    /* margin: 50px; */ /* 상 우 하 좌 모두 바깥여백을 50px; 을 준것이다. */   
    margin: 0; /* 바깥여백을 없는 것으로 하겠다. */

    /* == padding 은 안쪽여백 이다. == */
    /* padding: 100px 100px 50px 20px; */ /* 상 우 하 좌  시계방향 */
    /* padding: 100px 50px; */ /* 상 하는 안쪽여백을 100px; 을 주고, 우 좌는 안쪽여백을 50px; 을 준 것이다.*/
    /* padding: 50px; */ /* 상 우 하 좌 모두 안쪽여백을 50px; 을 준것이다. */   
    padding: 0; /* 안쪽여백을 없는 것으로 하겠다. */

}

div#container{
    border: solid 0px navy;
    width: 80%;
    margin: 2% auto;
    /* 상하는 2%; 우좌는 남은 20%에서 좌우로 1/2씩 균등하게 주겠다. 
    즉, 화면의 가운데로 위치하겠다는 말이다. */
}


div#container > div#header{
    color: green;
    border: solid 0px green;
    height: 100px;
    background-color: #ccc; 
    /* #ccc 은 #cccccc 이다.  */
}
/* div인데 id 가 container 의 자식 dept1  */

div#container > div#header > div{
    border: solid 0px blue;
    padding: 3% 0 0 1%;
}

div#container > div#header > div > span{
    border: solid 0px red;
    /* inline 방식은 width가 글자 길이만큼만 되지, 설정할 수 없음. */
    display: inline-block;
    width: 12%;
    height: 30%;
    background-color: yellow;
    text-align: center;
    margin: 0 5% 0 0;
    padding-top: 0.65%;
}


div#container > div.custom{
    display: inline-block;
    height: 400px;
    padding: 0.5% 0.5% 0.5% 1.5%;
}

div#container > div#side{
    border: solid 0px green;
    width: 30%;
    background-color: #888;
}

div#container > div#contents{
    border: solid 0px orange;
    width: 65.44%;
    background-color: #222;
    padding: 0.5% 0.5% 0.5% 1.5%;
}

div#container > div#footer {
    border: solid 0px purple;
    /* display가 block 방식 인 요소들은 기본적으로 width가 100%임 */
    background-color: #ddd;
    height: 100px;

}

div#container > div#footer > div{
    width: 28%;
    margin: 0 auto;
    padding-top: 2%;

}

