@charset "UTF-8";

div#container {
    border: solid 0px red;
    text-align: center;
    width: 70%;
    margin: 5% auto;
}

div#container > div {
    border: solid 0px blue;
    margin-top: 7%;
}

div#container > div:nth-child(3) > img:nth-child(1){
    width: 225px;
    height: 175px;
}
