@charset "UTF-8";


div#title {
    width: 100%;
    height: 70%;              
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
}

div#title > h1 {
    font-size: 30px;
    margin-bottom: 100px;       
}

button#btn_start {
    width: 260px;
    height: 160px;
    border-radius: 50%;         
    border: 2px solid gray;
    background-color: #eeeeee;
    font-size: 32px;
    cursor: pointer;
}

button#btn_start:hover{
    background-color: sandybrown;
    
}

button#btn_start > a {
    text-decoration: none;
}