@charset "UTF-8";
/* 기본적인 폰트 설정하기  */
*{
    font-family: Arial, "MS Trebuchet", sans-serif;
     /* 공백이 있으면 반드시 ""로 감싸주어야함.  */
}
/* *은 모든 태그를 말함. */
body{
    border: solid 0px gray;
    word-break: break-all;
    margin: 0;
    padding: 0;

}

body > div#wrap {
    border: solid 1px blue;
    width: 70%;
    margin: 0 auto;
}
/* 명확하게 하기위해 어디 안에 있는지를 밝히는거임. 그냥 div#warp 만 해도 되긴함. */

body > div#wrap > header#page_header > nav > ul{
    border: solid 0px red;
    list-style-type: none;
    padding: 0;
    font-size: 16pt;


}

body > div#wrap > header#page_header > nav > ul > li{
    border: solid 1px gray;
    display: inline-block;
    width: 15%;
    margin: 0 2% 0 0;
}


/* a태그의 밑줄 제거하기 */
a {
    text-decoration: none;
    /* a 태그는 text-decoration을 안주더라도 기본값이 text-decoration: underline; 이다.  
    overline; 은 윗줄, line-through; 는 취소선, none은 줄없음.*/
}

/* a 태그에 방문하기전의 링크 */
a:visited{
    color: pink;
}

/* a태그에 방문후의 링크 */

/* a태그에 마우스 포인터를 올려 놓알을 때 */
a:hover{
    background-color: red;
    color: yellow;
    font-weight: bolder;
}