@charset "UTF-8";


div#container{
    border: solid 0px red;
    width: 50%;
    margin: 5% auto;
}

div#container > table{
    border: solid 0px gold;
    width: 100%;
    /* table 태그는 width 를 설정하지 않으면 그 기본 width 크기는 내용물 만큼 잡힌다. */

    border-collapse: collapse;
    /* 위 태그가 없으면 테이블 border가 조금씩 띄어져있음. */
}

div#container > table th, 
div#container > table td{
    border: solid 1px black;
}

div#container > table th{
    background-color: #ccc;
    height: 40px;
}

div#container > table td{
    height: 30px;
}

div#container > table td:first-child,
div#container > table td:nth-child(3){
    text-align: center;
}

div#container > table td:nth-child(2),
div#container > table td:last-child{
    text-align: right;
}

div#container > table > tbody > tr:first-child > th:first-child ~ th{
    background-color: yellow;
}
/* 개발자모드로 요소보면 tbody가 자동적으로 들어가있음.  */
/*
      div#container > table > tbody > tr:first-child > th:first-child 의 엘리먼트(태그)에서 
      지금은 <th>봄 맞이 바겐세일</th> 을 말하는 것이다.
      ~ 은 해당 엘리먼트 다음에 나오는 모든 형제 태그(엘리먼트,노드)를 가리키는 것이다.
      즉, 지금은 <th width="25%">제품이름과 설명</th> 와 <th width="15%">개당 가격</th> 와 <th width="15%">박스당 개수</th> 와 <th>총가격</th> 을 가리키는 것이다. 
      그 형제태그중 th 태그만을 가리키는 것이다.
   */

div#container > table > tbody > tr:first-child > th:nth-child(2) ~ *{
    color: red;
}
/*
      div#container > table > tbody > tr:first-child > th:nth-child(2) 의 엘리먼트(태그)에서 
      지금은 <th>제품이름과 설명</th> 을 말하는 것이다.
      ~ 은 해당 엘리먼트 다음에 나오는 모든 형제 태그(엘리먼트,노드)를 가리키는 것이다.
      즉, 지금은 <th width="15%">개당 가격</th> 와 <th width="15%">박스당 개수</th> 와 <th>총가격</th> 을 가리키는 것이다. 
      그 형제태그중 모든 태그만을 가리키는 것이다.
   */
div#container > table > tbody > tr:first-child > th:first-child ~ *:hover{
    /* 엘리먼트(태그):hover 은 엘리먼트(태그)에 마우스가 올라가면 이라는 뜻이다. */
    background-color: red;
    color: yellow;
    font-size: 16pt;
    cursor: no-drop;
}

div#container > table > tbody > tr:first-child > th:nth-child(3) + th:hover{
    /* 엘리먼트(태그) + 은 엘리먼트(태그) 다음에 나오는 
    형제태그 중 바로 밑동생 1개 태그를 가리키는 것이다. */ 
    background-color: blue;
    color: white;
    font-size: 16pt;
    cursor: no-drop;
}

tr.myclass > td:first-child ~ * {
    background-color: skyblue;
}
